
.create-container{
    padding: 20px;
    .inner-create{
        padding: 20px;
        border: 1px solid lightgrey;
        border-radius: 8px;
        font-size: 14px;
        overflow: hidden;
        .inner-form{
            .form-box{
                margin: 15px 0;

                .label-text{
                    margin-bottom: 5px;
                }

                input {
                    height: 30px;
                    width: 90%;
                    padding: 0 10px;
                    border: 1px solid lightgray;
                    border-radius: 8px;
                }
            }
        }
        .create-btn-zone{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

