<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi deserunt omnis unde dolor corrupti magnam ipsam obcaecati molestias illo necessitatibus suscipit dolores cupiditate eveniet, nihil, minus incidunt amet voluptates ab?</p>

    <h3>
        <%= data %>
    </h3>

    <p>
        <%= data2 %>
    </p>

    <p>
        <%- html %>
    </p>

</body>
</html>