<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/fa/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="inner-login">
            <div class="login-title">Register</div>
            <form class="form-login" method="post" action="/api/register">
                <div class="label-text">Email</div>
                <input class="input" type="text" name="email">

                <div class="label-text">Password</div>
                <input type="password" name="password">
                
                <div class="login-btn-zone">
                    <button class="btn btn-action" type="submit" >Register</button>
                    <a href="/login" class="btn btn-back" type="button">Back</a>
                </div>
                
            </form>
        </div>
    </div>


</body>
</html>